/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #702ad1;
}




/* 2. Content ================================= */

.search-field {
	width: 90vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5vw;
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
	color: white;
	padding: 0.75vw 1.25vw;
	text-align: center;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-position: 50% 50%;
	background-size: 70vw auto;
	filter: grayscale(1);
}

.foreground {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 70vw auto;
}